.content {
    position: relative;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text {
    width: 100%;
    max-width: 600px;
}

.content .text h2 {
    color: white;
    font-size: 5em;
    font-weight: 500;
}

.content .text p {
    color: white;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 20px 0;
    font-weight: 400;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    background: white;
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
}

.btn:hover {
    letter-spacing: 2px;
}

.face-id {
    border: 5px solid black;
    padding: 50px;
    border-radius: 20%;
    max-width: 300px;
    filter: invert(100%);
}

@media (max-width:991px) {
    .content {
        flex-direction: column;
        margin: 120px 0 40px;
        padding: 30px 60px;
    }

    .content .text p {
        display: none;
    }

    .face-id {
        margin: 40px 0;
    }

}

@media (max-width:480px) {
    .content .text h2 {
        font-size: 3em;
    }

    .btn {
        margin-top: 20px;
        padding: 15px 30px;
    }
}